<a href="https://colab.research.google.com/github/mariananlemos/criacao_dataframes/blob/main/criacao_de_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Criação de dataframes

In [ ]:
import pandas as pd
import numpy as np

series = pd.Series([7,  4,2,  np.nan, 6,9])
type(series)

                   A         B         C         D         E  F  G   Produto
2019-01-01  0.305806 -1.095341  0.600693  1.183395  2.332606  1  0 -0.334962
2019-01-02 -1.025447  0.281456 -0.187431 -1.993073  0.881157  1  1 -0.288618
2019-01-03  0.750295  1.627078  0.609821 -0.611237  0.814359  1  2  1.220789

In [ ]:
datas = pd.date_range('20180101', periods = 6)
type(datas)

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))
type(df)

In [ ]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({"A":7,
                    "B":pd.Timestamp('20190101'),
                    'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                    "D":np.array([3] * 4, dtype='int32'),
                    'E':pd.Categorical(['test','train','test','train']),
                    'F':'Python'})

In [ ]:
import pandas as pd
import numpy as np

datas = pd.date_range('20190101', periods = 60, freq='D')
df = pd.DataFrame(np.random.randn(60,5), index = datas, columns=list('ABCDE'))
df.shape #mostra linhas e colunas
df.head(3) #construir as linhas
df['F'] = 1 #coluna a mais
df.head(10) #add 10 linhas

In [ ]:
#df['G'] = [10,3,5,7] #nao tem 60 colunas
df['G'] = range(60) #adicionar novas colunas

In [ ]:
df['Produto'] = df['A'] * df['B']
df.head(3)

                   A         B         C         D         E  F  G   Produto
2019-01-01  0.305806 -1.095341  0.600693  1.183395  2.332606  1  0 -0.334962
2019-01-02 -1.025447  0.281456 -0.187431 -1.993073  0.881157  1  1 -0.288618
2019-01-03  0.750295  1.627078  0.609821 -0.611237  0.814359  1  2  1.220789

In [ ]:
df['D'] = 88
df.head(3)

Visualizar dados

In [ ]:
df.head(2)
df.tail(2) #acesso as duas ultimas linhas

                   A         B         C   D         E  F   G   Produto
2019-02-28 -0.610338  0.517110 -0.126223  88 -2.653684  1  58 -0.315612
2019-03-01  1.423978  0.726178  0.429909  88  0.030145  1  59  1.034062

In [ ]:
#observando indices
df.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Produto'], dtype='object')

In [ ]:
#observando indices
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Produto'], dtype='object')

In [ ]:
c = df.columns

In [ ]:
df

                   A         B         C   D         E  F   G   Produto
2019-01-01  0.305806 -1.095341  0.600693  88  2.332606  1   0 -0.334962
2019-01-02 -1.025447  0.281456 -0.187431  88  0.881157  1   1 -0.288618
2019-01-03  0.750295  1.627078  0.609821  88  0.814359  1   2  1.220789
2019-01-04 -0.254024 -0.223997  0.736434  88  0.972633  1   3  0.056901
2019-01-05 -0.731305 -0.570140 -0.223771  88  0.303389  1   4  0.416946
2019-01-06 -0.071871  0.220559 -0.305189  88 -1.362056  1   5 -0.015852
2019-01-07 -1.070384  0.003474 -0.318215  88 -1.888159  1   6 -0.003719
2019-01-08  1.107989 -0.336538  0.183011  88  2.343062  1   7 -0.372880
2019-01-09 -0.508593  0.557043  0.238351  88 -0.810426  1   8 -0.283308
2019-01-10 -3.120632  0.881014 -1.251530  88  0.505581  1   9 -2.749321
2019-01-11  0.732981 -0.814014  1.093354  88 -1.284760  1  10 -0.596657
2019-01-12  2.235600  0.498153  0.612304  88  0.282289  1  11  1.113670
2019-01-13 -1.365278 -1.400506  0.676321  88 -1.249868  1  12  1.912079
2019-01-14 -0.498594 -0.263321 -1.370289  88 -1.346014  1  13  0.131290
2019-01-15 -0.916460 -0.286732  1.610558  88 -0.361799  1  14  0.262778
2019-01-16  1.709833 -0.504076  0.210052  88 -1.600926  1  15 -0.861887
2019-01-17 -0.593757  0.872227 -0.471444  88 -0.686076  1  16 -0.517891
2019-01-18 -1.488046  0.725973 -0.824176  88 -2.184791  1  17 -1.080281
2019-01-19  0.644102  0.167827 -0.075148  88 -0.358416  1  18  0.108098
2019-01-20 -0.892752 -0.879141  0.190819  88  0.430321  1  19  0.784855
2019-01-21  0.176354 -0.834336  0.756149  88 -2.291586  1  20 -0.147139
2019-01-22  0.245978 -0.991026  0.527930  88 -0.243162  1  21 -0.243771
2019-01-23 -0.775640 -0.972001 -1.530999  88  0.708434  1  22  0.753923
2019-01-24 -0.369623  0.676207  1.047015  88 -0.307286  1  23 -0.249942
2019-01-25  0.910464 -0.360362  1.825557  88 -0.118335  1  24 -0.328097
2019-01-26  0.174468  0.557745  0.513637  88  0.013150  1  25  0.097309
2019-01-27  0.092515  1.818217  0.280199  88 -0.355791  1  26  0.168213
2019-01-28  1.175933  0.331085 -0.218636  88  1.722776  1  27  0.389334
2019-01-29  0.519740  0.680123  0.505295  88 -0.157916  1  28  0.353487
2019-01-30 -0.087400  0.301957  0.157215  88 -1.356656  1  29 -0.026391
2019-01-31 -0.714959  1.350237  0.628908  88 -1.254148  1  30 -0.965364
2019-02-01 -0.670079 -1.668857 -0.677359  88  2.242584  1  31  1.118267
2019-02-02 -0.614641  0.181783  0.857637  88  2.563485  1  32 -0.111731
2019-02-03 -1.816628 -0.068235 -0.224700  88 -0.380462  1  33  0.123958
2019-02-04  0.481636 -0.010136  1.036889  88 -0.965180  1  34 -0.004882
2019-02-05  0.389418  1.383803  1.368021  88 -0.967055  1  35  0.538878
2019-02-06  1.732372  1.592089  0.236216  88 -0.923069  1  36  2.758090
2019-02-07 -0.166808  1.720177 -0.703404  88  1.483061  1  37 -0.286939
2019-02-08 -0.508978  2.472809  0.936792  88 -0.826186  1  38 -1.258605
2019-02-09  0.032619 -0.773677 -0.100550  88 -1.214455  1  39 -0.025237
2019-02-10  0.205204  1.578909 -0.026716  88  0.443148  1  40  0.323999
2019-02-11  1.188321  1.931067  0.094918  88  1.070547  1  41  2.294727
2019-02-12 -0.848906  0.667230  0.100162  88  0.390576  1  42 -0.566416
2019-02-13 -1.276884  1.082501 -1.101071  88  0.521377  1  43 -1.382229
2019-02-14 -0.503974 -0.154886 -0.656726  88 -0.912129  1  44  0.078059
2019-02-15 -0.960605 -1.338026  0.267640  88  0.214180  1  45  1.285315
2019-02-16 -0.772657  0.270063 -0.652454  88  0.541387  1  46 -0.208666
2019-02-17  0.526138  0.433771  1.290402  88  1.251311  1  47  0.228223
2019-02-18  0.132325  0.158020 -1.156223  88  1.438845  1  48  0.020910
2019-02-19 -0.279347 -0.702104 -1.378944  88  0.162028  1  49  0.196131
2019-02-20 -0.635194  0.114944  0.726144  88 -1.125131  1  50 -0.073011
2019-02-21  0.461993 -0.326652  0.492487  88  0.883767  1  51 -0.150911
2019-02-22  0.135793 -0.951618 -2.325307  88  1.734905  1  52 -0.129223
2019-02-23  0.731185 -0.550309  0.885570  88 -0.250599  1  53 -0.402378
2019-02-24  0.294856  1.374818 -2.794680  88  1.409331  1  54  0.405373
2019-02-25  1.939796 -0.114974  1.084352  88  0.497947  1  55 -0.223026
2019-02-26 -1.938785  0.514868  1.384153  88 -0.281718  1  56 -0.998218
2019-02-27  0.212573  1.949499  0.775963  88 -1.457318  1  57  0.414410
2019-02-28 -0.610338  0.517110 -0.126223  88 -2.653684  1  58 -0.315612
2019-03-01  1.423978  0.726178  0.429909  88  0.030145  1  59  1.034062

In [ ]:
df.to_numpy() #processamentos e algebra linear = valores numericos das colunas

array([[ 3.05806163e-01, -1.09534101e+00,  6.00692578e-01,
         8.80000000e+01,  2.33260575e+00,  1.00000000e+00,
         0.00000000e+00, -3.34962031e-01],
       [-1.02544718e+00,  2.81455899e-01, -1.87430663e-01,
         8.80000000e+01,  8.81156820e-01,  1.00000000e+00,
         1.00000000e+00, -2.88618158e-01],
       [ 7.50295361e-01,  1.62707778e+00,  6.09821322e-01,
         8.80000000e+01,  8.14359414e-01,  1.00000000e+00,
         2.00000000e+00,  1.22078891e+00],
       [-2.54024321e-01, -2.23997192e-01,  7.36434356e-01,
         8.80000000e+01,  9.72633102e-01,  1.00000000e+00,
         3.00000000e+00,  5.69007345e-02],
       [-7.31305171e-01, -5.70139647e-01, -2.23771143e-01,
         8.80000000e+01,  3.03389179e-01,  1.00000000e+00,
         4.00000000e+00,  4.16946072e-01],
       [-7.18713648e-02,  2.20558578e-01, -3.05189470e-01,
         8.80000000e+01, -1.36205553e+00,  1.00000000e+00,
         5.00000000e+00, -1.58518460e-02],
       [-1.07038386e+00,  3.47410758e-03, -3.18215019e-01,
         8.80000000e+01, -1.88815920e+00,  1.00000000e+00,
         6.00000000e+00, -3.71862868e-03],
       [ 1.10798896e+00, -3.36537997e-01,  1.83011412e-01,
         8.80000000e+01,  2.34306174e+00,  1.00000000e+00,
         7.00000000e+00, -3.72880384e-01],
       [-5.08592860e-01,  5.57042512e-01,  2.38350686e-01,
         8.80000000e+01, -8.10425629e-01,  1.00000000e+00,
         8.00000000e+00, -2.83307844e-01],
       [-3.12063202e+00,  8.81014043e-01, -1.25153024e+00,
         8.80000000e+01,  5.05580591e-01,  1.00000000e+00,
         9.00000000e+00, -2.74932063e+00],
       [ 7.32981025e-01, -8.14014136e-01,  1.09335353e+00,
         8.80000000e+01, -1.28475974e+00,  1.00000000e+00,
         1.00000000e+01, -5.96656916e-01],
       [ 2.23559978e+00,  4.98152625e-01,  6.12303866e-01,
         8.80000000e+01,  2.82289410e-01,  1.00000000e+00,
         1.10000000e+01,  1.11366990e+00],
       [-1.36527789e+00, -1.40050559e+00,  6.76320885e-01,
         8.80000000e+01, -1.24986798e+00,  1.00000000e+00,
         1.20000000e+01,  1.91207931e+00],
       [-4.98594417e-01, -2.63320963e-01, -1.37028876e+00,
         8.80000000e+01, -1.34601407e+00,  1.00000000e+00,
         1.30000000e+01,  1.31290362e-01],
       [-9.16459958e-01, -2.86731648e-01,  1.61055800e+00,
         8.80000000e+01, -3.61798617e-01,  1.00000000e+00,
         1.40000000e+01,  2.62778074e-01],
       [ 1.70983343e+00, -5.04076425e-01,  2.10051854e-01,
         8.80000000e+01, -1.60092633e+00,  1.00000000e+00,
         1.50000000e+01, -8.61886724e-01],
       [-5.93756844e-01,  8.72227314e-01, -4.71444035e-01,
         8.80000000e+01, -6.86076175e-01,  1.00000000e+00,
         1.60000000e+01, -5.17890937e-01],
       [-1.48804600e+00,  7.25972572e-01, -8.24176372e-01,
         8.80000000e+01, -2.18479112e+00,  1.00000000e+00,
         1.70000000e+01, -1.08028058e+00],
       [ 6.44101851e-01,  1.67827444e-01, -7.51478087e-02,
         8.80000000e+01, -3.58415940e-01,  1.00000000e+00,
         1.80000000e+01,  1.08097967e-01],
       [-8.92751973e-01, -8.79140705e-01,  1.90819439e-01,
         8.80000000e+01,  4.30320972e-01,  1.00000000e+00,
         1.90000000e+01,  7.84854598e-01],
       [ 1.76354171e-01, -8.34336333e-01,  7.56148665e-01,
         8.80000000e+01, -2.29158633e+00,  1.00000000e+00,
         2.00000000e+01, -1.47138693e-01],
       [ 2.45978310e-01, -9.91025806e-01,  5.27929625e-01,
         8.80000000e+01, -2.43161638e-01,  1.00000000e+00,
         2.10000000e+01, -2.43770853e-01],
       [-7.75639840e-01, -9.72001259e-01, -1.53099944e+00,
         8.80000000e+01,  7.08433755e-01,  1.00000000e+00,
         2.20000000e+01,  7.53922901e-01],
       [-3.69623390e-01,  6.76206816e-01,  1.04701480e+00,
         8.80000000e+01, -3.07285630e-01,  1.00000000e+00,
         2.30000000e+01, -2.49941856e-01],
       [ 9.10464327e-01, -3.60362222e-01,  1.82555743e+00,
         8.80000000e+01, -1.18335057e-01,  1.00000000e+00,
         2.40000000e+01, -3.28096948e-01],
       [ 1.74468099e-01,  5.57744568e-01,  5.13637459e-01,
         8.80000000e+01,  1.31501507e-02,  1.00000000e+00,
         2.50000000e+01,  9.73086346e-02],
       [ 9.25151662e-02,  1.81821718e+00,  2.80198510e-01,
         8.80000000e+01, -3.55791112e-01,  1.00000000e+00,
         2.60000000e+01,  1.68212664e-01],
       [ 1.17593339e+00,  3.31084750e-01, -2.18635547e-01,
         8.80000000e+01,  1.72277622e+00,  1.00000000e+00,
         2.70000000e+01,  3.89333614e-01],
       [ 5.19740372e-01,  6.80123014e-01,  5.05294945e-01,
         8.80000000e+01, -1.57915560e-01,  1.00000000e+00,
         2.80000000e+01,  3.53487388e-01],
       [-8.74000654e-02,  3.01956978e-01,  1.57214538e-01,
         8.80000000e+01, -1.35665596e+00,  1.00000000e+00,
         2.90000000e+01, -2.63910596e-02],
       [-7.14958947e-01,  1.35023687e+00,  6.28907679e-01,
         8.80000000e+01, -1.25414839e+00,  1.00000000e+00,
         3.00000000e+01, -9.65363932e-01],
       [-6.70079469e-01, -1.66885731e+00, -6.77358667e-01,
         8.80000000e+01,  2.24258418e+00,  1.00000000e+00,
         3.10000000e+01,  1.11826702e+00],
       [-6.14640507e-01,  1.81783023e-01,  8.57636699e-01,
         8.80000000e+01,  2.56348527e+00,  1.00000000e+00,
         3.20000000e+01, -1.11731209e-01],
       [-1.81662796e+00, -6.82354346e-02, -2.24699953e-01,
         8.80000000e+01, -3.80462201e-01,  1.00000000e+00,
         3.30000000e+01,  1.23958398e-01],
       [ 4.81635623e-01, -1.01362986e-02,  1.03688885e+00,
         8.80000000e+01, -9.65179547e-01,  1.00000000e+00,
         3.40000000e+01, -4.88200249e-03],
       [ 3.89417751e-01,  1.38380346e+00,  1.36802101e+00,
         8.80000000e+01, -9.67054793e-01,  1.00000000e+00,
         3.50000000e+01,  5.38877630e-01],
       [ 1.73237219e+00,  1.59208875e+00,  2.36216005e-01,
         8.80000000e+01, -9.23068995e-01,  1.00000000e+00,
         3.60000000e+01,  2.75809026e+00],
       [-1.66807745e-01,  1.72017748e+00, -7.03404409e-01,
         8.80000000e+01,  1.48306122e+00,  1.00000000e+00,
         3.70000000e+01, -2.86938926e-01],
       [-5.08977725e-01,  2.47280882e+00,  9.36791583e-01,
         8.80000000e+01, -8.26186195e-01,  1.00000000e+00,
         3.80000000e+01, -1.25860461e+00],
       [ 3.26191372e-02, -7.73676720e-01, -1.00549641e-01,
         8.80000000e+01, -1.21445507e+00,  1.00000000e+00,
         3.90000000e+01, -2.52366671e-02],
       [ 2.05204490e-01,  1.57890863e+00, -2.67159934e-02,
         8.80000000e+01,  4.43147658e-01,  1.00000000e+00,
         4.00000000e+01,  3.23999139e-01],
       [ 1.18832063e+00,  1.93106744e+00,  9.49180890e-02,
         8.80000000e+01,  1.07054661e+00,  1.00000000e+00,
         4.10000000e+01,  2.29472728e+00],
       [-8.48906492e-01,  6.67229599e-01,  1.00162182e-01,
         8.80000000e+01,  3.90576036e-01,  1.00000000e+00,
         4.20000000e+01, -5.66415538e-01],
       [-1.27688443e+00,  1.08250120e+00, -1.10107112e+00,
         8.80000000e+01,  5.21377012e-01,  1.00000000e+00,
         4.30000000e+01, -1.38222893e+00],
       [-5.03973790e-01, -1.54886283e-01, -6.56725957e-01,
         8.80000000e+01, -9.12129142e-01,  1.00000000e+00,
         4.40000000e+01,  7.80586272e-02],
       [-9.60605138e-01, -1.33802585e+00,  2.67640395e-01,
         8.80000000e+01,  2.14179717e-01,  1.00000000e+00,
         4.50000000e+01,  1.28531451e+00],
       [-7.72657007e-01,  2.70062580e-01, -6.52453539e-01,
         8.80000000e+01,  5.41386607e-01,  1.00000000e+00,
         4.60000000e+01, -2.08665745e-01],
       [ 5.26138449e-01,  4.33770633e-01,  1.29040221e+00,
         8.80000000e+01,  1.25131082e+00,  1.00000000e+00,
         4.70000000e+01,  2.28223408e-01],
       [ 1.32324822e-01,  1.58020055e-01, -1.15622317e+00,
         8.80000000e+01,  1.43884494e+00,  1.00000000e+00,
         4.80000000e+01,  2.09099756e-02],
       [-2.79347442e-01, -7.02103900e-01, -1.37894376e+00,
         8.80000000e+01,  1.62028032e-01,  1.00000000e+00,
         4.90000000e+01,  1.96130929e-01],
       [-6.35194204e-01,  1.14943523e-01,  7.26144058e-01,
         8.80000000e+01, -1.12513126e+00,  1.00000000e+00,
         5.00000000e+01, -7.30114594e-02],
       [ 4.61992902e-01, -3.26652421e-01,  4.92486859e-01,
         8.80000000e+01,  8.83767434e-01,  1.00000000e+00,
         5.10000000e+01, -1.50911100e-01],
       [ 1.35792721e-01, -9.51617602e-01, -2.32530662e+00,
         8.80000000e+01,  1.73490460e+00,  1.00000000e+00,
         5.20000000e+01, -1.29222743e-01],
       [ 7.31184878e-01, -5.50309148e-01,  8.85569590e-01,
         8.80000000e+01, -2.50599390e-01,  1.00000000e+00,
         5.30000000e+01, -4.02377728e-01],
       [ 2.94856000e-01,  1.37481790e+00, -2.79468026e+00,
         8.80000000e+01,  1.40933146e+00,  1.00000000e+00,
         5.40000000e+01,  4.05373307e-01],
       [ 1.93979572e+00, -1.14973755e-01,  1.08435162e+00,
         8.80000000e+01,  4.97946706e-01,  1.00000000e+00,
         5.50000000e+01, -2.23025599e-01],
       [-1.93878505e+00,  5.14867924e-01,  1.38415262e+00,
         8.80000000e+01, -2.81717608e-01,  1.00000000e+00,
         5.60000000e+01, -9.98218233e-01],
       [ 2.12572602e-01,  1.94949906e+00,  7.75962957e-01,
         8.80000000e+01, -1.45731848e+00,  1.00000000e+00,
         5.70000000e+01,  4.14410087e-01],
       [-6.10338339e-01,  5.17110105e-01, -1.26222830e-01,
         8.80000000e+01, -2.65368364e+00,  1.00000000e+00,
         5.80000000e+01, -3.15612123e-01],
       [ 1.42397785e+00,  7.26178469e-01,  4.29908969e-01,
         8.80000000e+01,  3.01454116e-02,  1.00000000e+00,
         5.90000000e+01,  1.03406206e+00]])

In [ ]:
df.T #matriz transposta linha=coluna, coluna=linha

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-02-20,2019-02-21,2019-02-22,2019-02-23,2019-02-24,2019-02-25,2019-02-26,2019-02-27,2019-02-28,2019-03-01
A,0.305806,-1.025447,0.750295,-0.254024,-0.731305,-0.071871,-1.070384,1.107989,-0.508593,-3.120632,...,-0.635194,0.461993,0.135793,0.731185,0.294856,1.939796,-1.938785,0.212573,-0.610338,1.423978
B,-1.095341,0.281456,1.627078,-0.223997,-0.570140,0.220559,0.003474,-0.336538,0.557043,0.881014,...,0.114944,-0.326652,-0.951618,-0.550309,1.374818,-0.114974,0.514868,1.949499,0.517110,0.726178
C,0.600693,-0.187431,0.609821,0.736434,-0.223771,-0.305189,-0.318215,0.183011,0.238351,-1.251530,...,0.726144,0.492487,-2.325307,0.885570,-2.794680,1.084352,1.384153,0.775963,-0.126223,0.429909
D,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,...,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
E,2.332606,0.881157,0.814359,0.972633,0.303389,-1.362056,-1.888159,2.343062,-0.810426,0.505581,...,-1.125131,0.883767,1.734905,-0.250599,1.409331,0.497947,-0.281718,-1.457318,-2.653684,0.030145
F,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
G,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,50.000000,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000
Produto,-0.334962,-0.288618,1.220789,0.056901,0.416946,-0.015852,-0.003719,-0.372880,-0.283308,-2.749321,...,-0.073011,-0.150911,-0.129223,-0.402378,0.405373,-0.223026,-0.998218,0.414410,-0.315612,1.034062

In [ ]:
df2.to_numpy()

array([[7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'test', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'train', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'test', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'train', 'Python']],
      dtype=object)